<!--partials view contato.html -->
<div class="jumbotron">
	<h3 class="text-center">Contact</h3>
</div>
<form ng-submit="saveContact()">
	<div class="form-group">
		<label for="name"> Full Name:</label>
		<input type="text" class="form-control" id="name" placeholder="First Last Name" ng-model="contact.name">
	</div>

	<div class="form-group">
		<label for="email"> Email:</label>
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="email" class="form-control" id="email" placeholder="email@explample.com" name="email" ng-model="contact.email" required>			
		</div>
	</div>
	
	<p </p>
	
	<div ng-show="msg.text" class="alert alert-warning">
	  	<strong>Warning!</strong> {{msg.text}}
	</div>

	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-save"></span> Save
	</button>
	<a href="#/" class="btn btn-default"> 
		<span class="glyphicon glyphicons-back"></span> Back
	</a>
</form>



