<!--partials view contatos.html -->

<div class="jumbotron">
	<h3 class="text-center">Your Contact List</h3>
</div>

<a class="btn btn-primary" ng-href="#/contato">
	<span class="glyphicon glyphicon-plus"></span> New
</a>

<hr/>
<input ng-model="name_filter" type="search" placeholder="Filter by Name">
<hr/>	
<div class="table-responsive">
<p ng-show="msg.text">{{msg.text}}</p>
	<table class="table table-hover">
		<tr>
			<th>Name:</th>
			<th>Email:</th>
			<th class="text-center">Action:</th>
		</tr>
		<tr ng-repeat="contact in contacts | filter: name_filter">
			<td><a ng-href="#/contato/{{contact._id}}">{{contact.name}}</a></td>
			<td>{{contact.email}}</td>
			<td class="text-center">
				<button class="btn">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button ng-click="remove(contact)" class="btn">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</table>
	<p ng-show="contacts.length">Registered Contacts: {{contacts.length}}</p>
	<p class="text-info" ng-hide="contacts.length">Sorry but... Don't have registered contacts!</p>
</div>
